.container-wrapper{
        
        width: 100%;
        height: 100%;
        text-align: center;
        border: none;
        justify-content: center; 
               
        
}

.search-form-big > div {
        border: 1px solid #dfe1e5;
        border-radius: 24px;
        min-width: 400px;
        max-width: 600px;
        display: inline-flex;
        flex: 100%;
        height: 30px;
        justify-content: center;
        padding-top: 9px;
        padding-bottom: 2px;

}

.search-form > div {
        display: flex;
        padding: 4px;
        width: 95%;
}

.search-input{
        
        border-color: transparent;
        width: 85%;
        box-shadow: none;
}


.magnifier {
        max-width: 10%;
}

.keyboard {
        max-width: 5%;
}


.navbar-top{
        display: flex;
        font-size: medium;
        padding-right: 35px;
        padding-left: 100px;
        justify-content: right;
        text-align: justify;
}

.navbar-top > div {
        width: 30px;
        margin: 10px;
        align-self: center;
}

.magnifier-glass{
        max-width: 100%;
        max-height: 100%;
        opacity: 30%;
}

.buttons-wrapper{
       padding-top: 20px;
       display: inline-block;
}

.buttons-wrapper > button{
        margin: 10px;
        height: 30px;
}
